@page "/"
@inject HttpClient httpClient

<div class="container-fluid banner-container">
    <img src="/banner.jpg" class="img-fluid banner" />
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-5">
                <img src="/profile.jpg" class="img-thumbnail"/>
            </div>
            <div class="col-md-6 m-auto">
                <p>
                    Kionna will be attending the University of North Georgia this fall. 
                    She will major in Criminal Justice with a focus in Forensic Science. 
                    We wish her all the best!
                </p>
                <p>
                    Watch her virtual graduation online <a href="https://www.gcpsk12.org" target="_blank">here</a> 
                    on Friday, May 22nd at 8:30pm.
                </p>
            </div>
        </div>
        <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">We are so proud of you!!!!! We can't wait to see you flourish at UNG!!!!
We love you!</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Mom and Dad</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">So very proud of all you have accomplished.  I look forward to the next piece of your journey at the University of North Georgia.
Love you to the moon and back...</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Carmen Gilbert aka Nana</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Congratulations. I am very proud of you. Wishing you much success at the University of North Georgia. Love you.</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— George Gilbert aka Papa</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">We can't believe the little girl we use to see all the time at grandpa and grandma's has grown up to be such a beautiful lady ! you were the sweetest kid ever ! So proud of you and wish you the best in your travels !</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Steve and Linda Taylor</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Congratulations Baby girl you have reached a great milestone. Continue to shine. I am so proud of you. All the best at UNG! You go Girl!
</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Auntie Tanya Rolle</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">KIONNAAAA MY BBY I'M SO PROUD OF YOU!! LOOK AT YOU BEING A SCHOLAR AND GRADUATING !! U ARE GOING TO THRIVE AT UNG I LOVE YOUUU &lt;3</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Mya :)</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Wishing you happiness and health. Hoping that all your dreams come true. Knowing that you will be the best at whatever you do. Sending lots of love from a very proud Grandma.</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Grandma Lynda</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">
Congratulations to my beautiful niece!
Wishing you a future full of success of happiness.Having a niece like you is priceless. So proud of you and confident you can do anything you put your mind to. Love you.</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Aunt Rachel Mobley</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Congratulations 👋🏾👋🏾 Proud of you. Great things are going to happen for you.🙏🏿🙏🏿
Cousin Teddy</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Cousin Teddy 😁</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Hi Ki ki.  CONGRATULATION.  I'm so proud  of you. Your pictures are so pretty. Good luck and have fun at the University.  Ki you will be very.good at that job. Hey you might even be on tv. solving crimes.lol. love  cousin. Pete.</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Cousin Pete</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Hey Ki, 
I am so proud of you!! You have been such a great friend to me and i hope we can stay in touch :))
Love ya girlie!</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Addie &lt;3</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">I AM SO SO PROUD OF YOU!!!! you have come so far and im so excited to see your future! you are the most gorgeous person i have met inside and out, i love you and am going to miss you so much!!&lt;33</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— izzy coronaaaaa</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Congratulations!  We are so proud of you!
We know you'll do well in college and beyond.  Wishing you a lifetime of happiness and success!</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— The Mathis Family</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">OMGGGGG!!!!!! CONGRATULATIONS KIONNA!! IM SO PROUD OF YOU I JUST MIGHT CRY :( College is such a huge set but you’re going to do SO amazing! I can’t wait to see the gorgeous person you become. Congrats on graduating angel, you’re the best!!! :)</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— janae mayyyyy :)</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Congratulations! I am so proud of you! I wish you the best at UNG! You are such a smart and beautiful young woman. May God watch over you always.</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Nery Cummings</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Congratulations!!! You have accomplished a great milestone.   Nothing but great things ahead of you.  Make the world your oyster. </span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Allison and kids</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Kiki, I am positively bursting with pride!  Congratulations on your graduation and acceptance into UNG!  As you take these next steps in what will be a truly amazing life remember to imagine with all of your mind, believe with all of your heart and achieve with all of your might.  

I wish you much love, peace and joy in all that you do forever and always! </span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Aunt Christie aka Bopsie Twin :)</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Ms. Kionna Trowell.  It has been my great pleasure to see you grow from a sweet and wonderful girl into amazing, caring and intelligent young lady.  Congratulations!  Countinue to be a bright light in the lives of those around you.</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Uncle Derek</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Dear Kionna, 
Congratulations on your graduation!    I was trying to think of something original to say to a special Granddaughter that would let her know how proud I was of all her accomplishments but what kept coming to mind was a quote from one of my favorite women.   The quote; “We delight in the beauty of the butterfly, but rarely admit the changes it has gone through to achieve that beauty”.  Just wanted you to know I am absolutely in awe of those changes, hard work and dedication!   
Can’t wait to hear stories of your next journey at the University of North Georgia and beyond!   Most of all though, thanks for letting me be a part of it!
P.S.  You know you had me at cinnamon rolls, right?!</span><!--!-->
                        <br>
                        <span class="text-muted float-right">—  GV</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Words cannot express how elated I am to celebrate this day with you. You have grown and blossom into a beautiful young lady. 
Keep smiling, live life to the fullest, make new friends, face your challenges, seek knowledge, make mistakes, learn from your mistakes but most of all remember the foundation that was thought to you by your love ones.

Expecting great things from you!

University of North Georgia look out, here comes Kionna.</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Ms Susan</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Hey Kionna,

Congrats! You did it! Graduating high school is a big moment in every young adults life. It took a lot of hard work and determination to get to where you are today, and I couldn't be more proud of you. You're graduating at a difficult time, but I know that you will continue to perservere and acomplish great things. I can't wait to celebrate this achievment with you the next time I see you. 

Congrats again and best wishes from your endlessly proud cousin,

Des

</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— DESMOND GARRETT</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Ki Ki, congratulations on reaching this milestone! You are a sweet and kind person and hope you carry those traits through life. We know you will do well at UNG and be successful in achieving your life goals. We send our love and blessings to you!</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Aunt Sandy and Uncle John</span><!--!-->
                    </div><!--!-->
                </div><!--!-->
                <div class="row mt-3 mb-5"><!--!-->
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4"><!--!-->
                        <span class="text-muted">Girl I love you so much and I look forward to sneaking to visit you next year and pretending i’m visiting my sister :) I’ll miss you!</span><!--!-->
                        <br>
                        <span class="text-muted float-right">— Blaire</span><!--!-->
                    </div><!--!-->
                </div><!--!-->

        @* @if ((posts?.Count ?? 0) > 0)
        {
            foreach (var post in posts)
            {
                <div class="row mt-3 mb-5">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <span class="text-muted">@post.Message</span>
                        <br />
                        <span class="text-muted float-right">&mdash; @post.From</span>
                    </div>
                </div>
            }
        } *@
        @* <div class="row mt-3 mb-5">
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <h5 class="text-primary text-center">Tell Kionna how proud you are!</h5>
                <EditForm Model="post" OnValidSubmit="SubmitPost">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    @if (error != null)
                    {
                        <div class="validation-message mb-2">@error</div>
                    }
                    <div class="form-group">
                        <label class="text-muted" for="from">From</label>
                        <InputText  type="text"
                               class="form-control" 
                               id="from" 
                               @bind-Value="post.From"
                               @onfocus="ClearError"
                               aria-describedby="fromHelp" 
                               autocomplete="name" />
                        <small id="fromHelp" class="form-text text-muted">Your name or group description or something intimate, such as Nana, or The So-and-So Family.</small>
                    </div>
                    <div class="form-group">
                        <label class="text-muted" for="message">Message</label>
                        <InputTextArea  class="form-control" 
                                  id="message"
                                  @bind-Value="post.Message"
                                  @onfocus="ClearError"
                                  rows="5" />
                    </div>
                    <div class="form-group">
                        <label class="text-muted" for="code">Post Code</label>
                        <InputText  type="password" 
                               class="form-control"
                               @bind-Value="post.Code" 
                               @onfocus="ClearError"
                               id="code" 
                               aria-describedby="codeHelp" 
                               autocomplete="new-password" />
                        <small id="codeHelp" class="form-text text-muted">Necessary in order to post. Reach out to a direct family member if you would like to leave a post.</small>
                    </div>
                    <button type="submit" disabled=@disabled class="btn btn-primary float-right">Submit</button>
                </EditForm>
            </div>
        </div> *@
    </div>
</div>

@code {
    Post post = new Post();
    List<Post> posts;
    string error;
    bool disabled;

    protected async override Task OnInitializedAsync()
    {
        //posts = await httpClient.GetFromJsonAsync<List<Post>>("https://mobsites.azurewebsites.net/api/GraduationPosts");
    }

    private async Task SubmitPost()
    {
        try
        {
            disabled = true;
            StateHasChanged();

            var response = await httpClient.PostAsJsonAsync<Post>(
                "https://mobsites.azurewebsites.net/api/GraduationPost", 
                post);

            if (response.IsSuccessStatusCode)
            {
                posts = await httpClient.GetFromJsonAsync<List<Post>>("https://mobsites.azurewebsites.net/api/GraduationPosts");

                post = new Post();
            }
            else
            {
                error = "Post was rejected. Make sure you input the correct code. Casing matters!";
            }
        }
        catch (System.Exception ex)
        {  
            error = ex.Message;
        }

        disabled = false;
    }

    private void ClearError()
    {
        error = null;
    }

    class Post
    {
        [Required]
        public string From { get; set; }

        [Required]
        public string Message { get; set; }

        [Required]
        public string Code { get; set; }
    }
}