@page "/"

<div class="container-fluid banner-container">
    <img src="/banner.jpg" class="img-fluid banner" />
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-5">
                <img src="/profile.jpg" class="img-thumbnail"/>
            </div>
            <div class="col-md-6 m-auto text-light">
                <p>
                    Kionna will be attending the University of North Georgia this fall. 
                    She will major in Criminal Justice with a focus in Forensic Science. 
                    We wish her all the best!
                </p>
            </div>
        </div>
    </div>
</div>