@page "/"

<div class="container-fluid banner-container">
    <img src="/banner.jpg" class="banner" />
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-5">
                <img src="/profile.jpg" class="img-thumbnail"/>
            </div>
            <div class="col-md-6 m-auto text-light">
                <p>[Overview about Ki's graduation here]</p>
            </div>
        </div>
    </div>
</div>