@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #121212;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.splash-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    width: 100vw;
}

.banner-container {
    padding-left: 0px;
    padding-right: 0px;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }
}